<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ImHungry2</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>RemoveGrocery</display-name>
  	<servlet-name>RemoveGrocery</servlet-name>
  	<servlet-class>servlets.RemoveGrocery</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ReorderList</display-name>
  	<servlet-name>ReorderList</servlet-name>
  	<servlet-class>servlets.ReorderList</servlet-class>
  </servlet>
  <welcome-file-list>
    <welcome-file>Search.html</welcome-file>
  </welcome-file-list>
</web-app>