<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ImHungry2</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddToGrocery</display-name>
  	<servlet-name>AddToGrocery</servlet-name>
  	<servlet-class>servlets.AddToGrocery</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetQueries</display-name>
  	<servlet-name>GetQueries</servlet-name>
  	<servlet-class>servlets.GetQueries</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>PreviousQuery</display-name>
  	<servlet-name>PreviousQuery</servlet-name>
  	<servlet-class>servlets.PreviousQuery</servlet-class>
  </servlet>
  <welcome-file-list>
    <welcome-file>Search.html</welcome-file>
  </welcome-file-list>
</web-app>