body,
html {
    padding: 0px;
    margin: 0px;
    background-color: whitesmoke;
}

.content {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 10vw;
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 50px;
    }
}


.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}


.wth {
    width: 170px;
}

#searchBtn {

    font-size: 20px;
    background: url(../img/grumpy.gif) no-repeat;
    background-size: 100%;
    border: none;
    width: 100px;
    height: 100px;
}

.googleImage {
    width: 10vw;
    height: 10vh;

}

.alt {
    background-color: #909090;
    width: 100%;
}

.listTitle {
    font-size: 43px;
}

.rt45 {
    transform: rotate(45deg);
}

.rt35 {
    transform: rotate(35deg);
}

.rt25 {
    transform: rotate(25deg);
}

.rt15 {
    transform: rotate(15deg);
}

.rt-15 {
    transform: rotate(-15deg);
}

.rt-25 {
    transform: rotate(-25deg);
}

.rt-35 {
    transform: rotate(-35deg);
}

.rt-45 {
    transform: rotate(-45deg);
}

.mt50 {
    margin-top: 50px;
}

.m-right {
    margin-right: 20px;
}

.m-top {
    margin-top: 20px;
}

.m-bottom {
    margin-bottom: 20px;
}

.m-left {
    margin-left: 20px;
}
